<div class="banner">
    <h1>IRELAND</h1>
</div>
<div class="gallery">
    <img src="assets/Ireland/ireland1.jpg">
    <img src="assets/Ireland/ireland2.jpg">
    <img src="assets/Ireland/ireland3.jpg">
    <img src="assets/Ireland/ireland4.jpg">
    <img src="assets/Ireland/ireland5.jpg">
    <img src="assets/Ireland/ireland6.jpg">
    <img src="assets/Ireland/ireland7.jpg">
    <img src="assets/Ireland/ireland8.jpg">
    <img src="assets/Ireland/ireland9.jpg">
    <img src="assets/Ireland/ireland10.jpg">
    <img src="assets/Ireland/ireland11.jpg">
    <img src="assets/Ireland/ireland12.jpg">
    <img src="assets/Ireland/ireland13.jpg">
    <img src="assets/Ireland/ireland14.jpg">
    <img src="assets/Ireland/ireland15.jpg">
    <img src="assets/Ireland/ireland16.jpg">
    <img src="assets/Ireland/ireland17.jpg">
    <img src="assets/Ireland/ireland18.jpg">
    <img src="assets/Ireland/ireland19.jpg">
    <img src="assets/Ireland/ireland20.jpg">
    <img src="assets/Ireland/ireland21.jpg">
    <img src="assets/Ireland/ireland22.jpg">
    <img src="assets/Ireland/ireland23.jpg">
    <img src="assets/Ireland/ireland24.jpg">
    <img src="assets/Ireland/ireland25.jpg">
    <img src="assets/Ireland/ireland26.jpg">
    <img src="assets/Ireland/ireland27.jpg">
    <img src="assets/Ireland/ireland28.jpg">
    <img src="assets/Ireland/ireland29.jpg">
    <img src="assets/Ireland/ireland30.jpg">
    <img src="assets/Ireland/ireland31.jpg">
    <img src="assets/Ireland/ireland32.jpg">
    <img src="assets/Ireland/ireland33.jpg">
    <img src="assets/Ireland/ireland34.jpg">
    <img src="assets/Ireland/ireland35.jpg">
    <img src="assets/Ireland/ireland36.jpg">
    <img src="assets/Ireland/ireland37.jpg">
    <img src="assets/Ireland/ireland38.jpg">
    <img src="assets/Ireland/ireland39.jpg">
    <img src="assets/Ireland/ireland40.jpg">
    <img src="assets/Ireland/ireland41.jpg">
    <img src="assets/Ireland/ireland42.jpg">
    <img src="assets/Ireland/ireland43.jpg">
    <img src="assets/Ireland/ireland44.jpg">
    <img src="assets/Ireland/ireland45.jpg">
    <img src="assets/Ireland/ireland46.jpg">
    <img src="assets/Ireland/ireland47.jpg">
    <img src="assets/Ireland/ireland48.jpg">
</div>