.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

h1 {
    margin: 0 auto;
    padding-bottom: 10px;
    font-size: 4em;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    gap: 10px;
    min-width: 100%;
}

.image-wrapper {
    height: 40vh;
    flex-grow: 1;
}

img {
    width: auto;
    height: auto;
    max-height: 100%;
    object-fit: cover;
    vertical-align: bottom;
    margin: 10px;
}

img:hover {
    scale: 1.01;
    transition-duration: 0.4s;
}
