
<div class="banner">
    <div class="name" routerLink="/">HANK TILSON</div>
   <ul class="top-level-menu">
    <li><a href="#" routerLink="/">Home</a></li>
    <li>
        <a href="#" routerLink="/">Work</a>
        <ul class="second-level-menu">
            <li>
                <a href="#" routerLink="/travels">Travels</a>
                <ul class="third-level-menu">
                    <li *ngFor="let entry of travelEntries">
                        <a href="#" [routerLink]="['/travels', entry[0]]">{{ entry[1].title }}</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Portfolio</a>
                <ul class="third-level-menu">
                    <li *ngFor="let entry of portfolioEntries">
                        <a href="#" [routerLink]="['/portfolio', entry[0]]">{{ entry[1].title }}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li><a href="#" routerLink="/about">About</a></li>
</ul> 
</div>
<router-outlet></router-outlet>
