.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5em 2%;
}
.nav-container{
    display: flex;
    gap: 2em;
}
.name{
    font-size: 2.67em;
    cursor: pointer;
}
nav>*{
    font-size: 1.2em;
    cursor: pointer;
}