<div class="grid-container">
  <div class="grid-item location-name ireland" routerLink="/travels/ireland">
    <img src="assets/Ireland/ireland1.jpg" alt="Ireland">
  </div>
  <div class="grid-item location-name greece" routerLink="/travels/greece">
    <img src="assets/ELLAS/ellas-01_.jpg" alt="Greece">
  </div>
  <div class="grid-item location-name new-mexico" routerLink="/travels/new-mexico">
    <img src="assets/New Mexico/newmex1.jpg" alt="New Mexico">
  </div>
  <div class="grid-item location-name italy" routerLink="/travels/italy">
    <img src="assets/QUE-BELLA/bella-01_.jpg" alt="Italy">
  </div>
</div>
