<div class="grid-container">
  <div class="grid-item location-name ireland" routerLink="/travels/ireland">
    <img src="assets/Ireland/ireland9.jpg" alt="Ireland">
  </div>
  <div class="grid-item location-name greece" routerLink="/travels/greece">
    <img src="assets/ELLAS/ellas-16_.jpg" alt="Greece">
  </div>
  <div class="grid-item location-name new-mexico" routerLink="/travels/new-mexico">
    <img src="assets/New Mexico/newmex4.jpg" alt="New Mexico">
  </div>
  <div class="grid-item location-name italy" routerLink="/travels/italy">
    <img src="assets/QUE-BELLA/bella-01_.jpg" alt="Italy">
  </div>
  <div class="grid-item location-name nc" routerLink="/travels/north-carolina">
    <img src="assets/Leviathan/leviathan6.jpg" alt="North Carolina">
  </div>
</div>
