<div class="banner">
    <h1>NEW MEXICO</h1>
</div>
<div class="gallery">
    <img src="assets/New Mexico/newmex1.jpg">
    <img src="assets/New Mexico/newmex2.jpg">
    <img src="assets/New Mexico/newmex3.jpg">
    <img src="assets/New Mexico/newmex4.jpg">
    <img src="assets/New Mexico/newmex5.jpg">
    <img src="assets/New Mexico/newmex6.jpg">
    <img src="assets/New Mexico/newmex7.jpg">
    <img src="assets/New Mexico/newmex8.jpg">
    <img src="assets/New Mexico/newmex9.jpg">
    <img src="assets/New Mexico/newmex10.jpg">
    <img src="assets/New Mexico/newmex11.jpg">
    <img src="assets/New Mexico/newmex12.jpg">
    <img src="assets/New Mexico/newmex13.jpg">
    <img src="assets/New Mexico/newmex14.jpg">
    <img src="assets/New Mexico/newmex15.jpg">
    <img src="assets/New Mexico/newmex16.jpg">
    <img src="assets/New Mexico/newmex17.jpg">
    <img src="assets/New Mexico/newmex18.jpg">
    <img src="assets/New Mexico/newmex19.jpg">
    <img src="assets/New Mexico/newmex20.jpg">
    <img src="assets/New Mexico/newmex21.jpg">
    <img src="assets/New Mexico/newmex22.jpg">
    <img src="assets/New Mexico/newmex23.jpg">
</div>