<div class="banner">
    <h1>ITALY</h1>
</div>
<div class="gallery">
    <img src="assets/QUE-BELLA/bella-01_.jpg">
    <img src="assets/QUE-BELLA/bella-02_.jpg">
    <img src="assets/QUE-BELLA/bella-03_.jpg">
    <img src="assets/QUE-BELLA/bella-04_.jpg">
    <img src="assets/QUE-BELLA/bella-05_.jpg">
    <img src="assets/QUE-BELLA/bella-06_.jpg">
    <img src="assets/QUE-BELLA/bella-07_.jpg">
    <img src="assets/QUE-BELLA/bella-08_.jpg">
    <img src="assets/QUE-BELLA/bella-09_.jpg">
    <img src="assets/QUE-BELLA/bella-10_.jpg">
    <img src="assets/QUE-BELLA/bella-11_.jpg">
    <img src="assets/QUE-BELLA/bella-12_.jpg">
    <img src="assets/QUE-BELLA/bella-13_.jpg">
    <img src="assets/QUE-BELLA/bella-14_.jpg">
    <img src="assets/QUE-BELLA/bella-15_.jpg">
    <img src="assets/QUE-BELLA/bella-16_.jpg">
    <img src="assets/QUE-BELLA/bella-17_.jpg">
    <img src="assets/QUE-BELLA/bella-18_.jpg">
    <img src="assets/QUE-BELLA/bella-19_.jpg">
    <img src="assets/QUE-BELLA/bella-20_.jpg">
    <img src="assets/QUE-BELLA/bella-21_.jpg">
    <img src="assets/QUE-BELLA/bella-22_.jpg">
    <img src="assets/QUE-BELLA/bella-23_.jpg">
    <img src="assets/QUE-BELLA/bella-24_.jpg">
    <img src="assets/QUE-BELLA/bella-25_.jpg">
    <img src="assets/QUE-BELLA/bella-26_.jpg">
    <img src="assets/QUE-BELLA/bella-27_.jpg">
    <img src="assets/QUE-BELLA/bella-28_.jpg">
</div>